{{ $page := .page }}
{{ $ui := index $page.Site.Data.ui $page.Lang }}
{{ $news := where (where $page.Site.RegularPages "Type" "news") "Params.confirmed_event" true }}
{{ if $news }}
  <div class="news-list">{{ range first (.limit | default 50) $news.ByDate.Reverse }}<article class="news-item"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006.01.02" }}</time><div><h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3><p>{{ .Description }}</p></div></article>{{ end }}</div>
{{ else }}
  <div class="empty-state"><h3>{{ $ui.newsEmpty }}</h3><p>{{ $ui.newsEmptyDetail }}</p></div>
{{ end }}
